@{
    ViewBag.Title = "Home Page";
}

    <header class="mb-5">
        <div class="d-flex justify-content-between align-items-center">
            <h1>Pizzeria 'In Forno'</h1>
            <a href="~/Articolo/Menu" class="btn btn-light text-danger fw-bold border-2 border-dark">Sfoglia il Menu</a>
        </div>
        <h4>Il gusto autentico della pizza cotta a legna</h4>
    </header>

    <main>
        <section id="impasto">
            <h6>L'impasto</h6>
            <p>
                Il nostro impasto è realizzato con farine selezionate e lievito madre, e viene lasciato lievitare per 24 ore per ottenere una pizza fragrante e digeribile.
            </p>
        </section>
        <section id="cottura">
            <h6>La cottura</h6>
            <p>
                Le pizze vengono cotte nel forno a legna, che conferisce loro un sapore unico e inconfondibile.
            </p>
        </section>
        <section id="menu">
            <h2>Il menù</h2>
            <p>
                Il nostro menù offre una vasta scelta di pizze classiche e speciali, oltre a calzoni, fritti e altri piatti tipici della cucina napoletana.
            </p>
        </section>
        <section id="servizio">
            <h6>Il servizio</h6>
            <p>
                Il nostro personale è attento e cordiale, e sarà lieto di aiutarvi a scegliere la pizza perfetta per voi.
            </p>
        </section>
        <section id="perche-scegliere">
            <h6>Perché scegliere la Pizzeria In Forno</h6>
            <ul>
                <li>Pizza napoletana autentica</li>
                <li>Ingredienti freschi e di alta qualità</li>
                <li>Impasto leggero e digeribile</li>
                <li>Cottura a legna</li>
                <li>Vasta scelta di pizze</li>
                <li>Servizio attento e cordiale</li>
            </ul>
        </section>
        <section id="contatti">
            <h6>Vieni a trovarci!</h6>
            <p>
                La Pizzeria In Forno è aperta tutti i giorni a pranzo e a cena.
            </p>
            <p>
                <strong>Prenota il tuo tavolo</strong>
            </p>
            <p>
                Inviaci una mail a <a href="mailto:PizzeriaInForno@gmail.com" >PizzeriaInForno@gmail.com</a>.
            </p>
        </section>
        <section id="info-aggiuntive">
            <h2>Informazioni aggiuntive</h2>
            <ul>
                <li>Parcheggio gratuito</li>
                <li>Accesso per disabili</li>
                <li>Wi-Fi gratuito</li>
                <li>Possibilità di asporto</li>
                <li>Consegne a domicilio</li>
            </ul>
        </section>
    </main>

    <footer>
        <p>Pizzeria In Forno: la pizza che conquista il palato!</p>
        <p>Cosa aspetti? Vieni a trovarci!</p>
    </footer>